@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes application....</h1>
    <p>The foremost.... My Jokes Application developed is in ASP.NET Core.</p>



    <p>By MagI</p>
</div>
